<configuration>
    <property file="src\main\resources\application.properties"/>


    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logging.file.path}/american-airlines-test.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${logging.file.path}/%d{yyyy/MM}/american-airlines-test.gz</fileNamePattern>

            <!-- keep 1 day' worth of history capped at 1GB total size -->
            <maxHistory>1</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <append>true</append>
        <encoder>
            <pattern>${logging.pattern.file}</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" target="System.out" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${logging.pattern.console}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>TRACE</level>
        </filter>
    </appender>


<!--    <logger name="org.white_sdev" level="TRACE"/>-->
    <logger name="${application.package}" level="${logging.level.root}"/>

    <root level="ERROR">
        <appender-ref ref="FILE" />
    </root>
    <root level="ERROR">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>