<configuration>
    <property file="src\main\resources\application.properties"/>


    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logging.file.path}/${project.artifactId}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${logging.file.path}/%d{yyyy/MM}/${project.artifactId}.gz</fileNamePattern>

            <!-- keep 1 day' worth of history capped at 1GB total size -->
            <maxHistory>1</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <append>true</append>
        <encoder>
            <pattern>${logging.pattern.file}</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" target="System.out" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${logging.pattern.console}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>TRACE</level>
        </filter>
    </appender>

<!--    <logger name="org" level="TRACE"/>-->

    <root level="${logging.level.root}">
        <appender-ref ref="FILE" />
    </root>
    <root level="${logging.level.root}">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>